@model InventoryRepo.Models.Item

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- left column -->
<div class="col-md-6">
  <!-- general form elements -->
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title"> Add Device</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

      <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })

          </div>*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.AspNetUserId, "AspNetUserId", htmlAttributes: new { @class = "" })

            @Html.DropDownList("AspNetUserId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AspNetUserId, "", new { @class = "text-danger" })

          </div>*@
        <div class="form-group required">
          @Html.LabelFor(model => model.Barcode, htmlAttributes: new { @class = "control-label" })
          @Html.EditorFor(model => model.Barcode, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
          @Html.ValidationMessageFor(model => model.Barcode, "", new { @class = "text-danger" })
        </div>

        <div class="form-group required">
          @Html.LabelFor(model => model.SerialNumber, htmlAttributes: new { @class = "control-label" })
          @Html.EditorFor(model => model.SerialNumber, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
          @Html.ValidationMessageFor(model => model.SerialNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.DeviceTypeId, "DeviceType", htmlAttributes: new { @class = "" })
          @*@Html.EditorFor(model => model.DeviceTypeId, new { htmlAttributes = new { @class = "form-control" } })*@
          @Html.DropDownList("DeviceTypeId", null, "---Select---", htmlAttributes: new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.DeviceTypeId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Manufacturer, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.Manufacturer, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Manufacturer, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Model, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.Model, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.ReceivingDate, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.ReceivingDate, new { htmlAttributes = new { @class = "form-control", @id = "ReceivingDate" } })
          @Html.ValidationMessageFor(model => model.ReceivingDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.WarrantyExpiryDate, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.WarrantyExpiryDate, new { htmlAttributes = new { @class = "form-control", @id = "WarrantyExpiryDate" } })
          @Html.ValidationMessageFor(model => model.WarrantyExpiryDate, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.LocationId, "Location", htmlAttributes: new { @class = "" })
          @Html.DropDownList("LocationId", null, "---Select---", htmlAttributes: new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.StatusId, "Status", htmlAttributes: new { @class = "" })
          @Html.DropDownList("StatusId", null, "---Select---", htmlAttributes: new { @class = "form-control" })
          @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.EditorFor(model => model.Racked)
          @Html.LabelFor(model => model.Racked, htmlAttributes: new { @class = "" })
          @Html.ValidationMessageFor(model => model.Racked, "", new { @class = "text-danger" })
        </div>

        <div class="form-group RackedFields">
          @Html.LabelFor(model => model.RackId, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.RackId, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.RackId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group RackedFields">
          @Html.LabelFor(model => model.UID, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.UID, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.UID, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
          @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "" })
          @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.ItemLogId, "ItemLogId", htmlAttributes: new { @class = "" })

            @Html.DropDownList("ItemLogId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ItemLogId, "", new { @class = "text-danger" })

          </div>*@
        @*<div class="form-group">
            @Html.LabelFor(model => model.DateCreated, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.DateCreated, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateCreated, "", new { @class = "text-danger" })

          </div>

          <div class="form-group">
            @Html.LabelFor(model => model.DateModified, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.DateModified, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateModified, "", new { @class = "text-danger" })

          </div>*@
        <div class="form-group">
          <div class="class=" card-footer">
            <input type="submit" value="Add" class="btn btn-warning" style="width: 180px; margin-left:auto;margin-right:auto;display:block;margin-top:auto;margin-bottom:0%" />
          </div>
        </div>
        <br />
        <div>
          @Html.ActionLink("Back to List", "Index")
        </div>
      </div>
    }
  </div>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
  .form-group.required .control-label:after {
    content: "*";
    color: red;
  }
</style>

<script>
  $(function () {

    $(document).ready(function () {


      if ($('#Racked').is(':checked')) {
        $('.RackedFields').show();
      } else {
        $('.RackedFields').hide();
      }

      $('#Racked').change(function () {
        if (this.checked)
          $('.RackedFields').show();/*.fadeIn('slow');*/
        else
          $('.RackedFields').hide();/*.fadeOut('slow');*/
        $('#RackId').val("");
        $('#UID').val("");

      });


      $('#btnApply').click(function () {
        if (IsDatesCorrect() == false) {
          //alert('false');
          return false;
        }
        else {
          //alert('true');
          return true;
        }

      });

      //alert('@ViewBag.FiscalYearStart');
      var momentDate = moment('@ViewBag.FiscalYearStart', 'DD-MM-YYYY HH:mm:ss');
      //alert(momentDate);
      var fiscalYearStart = momentDate.toDate();
      //alert(fiscalYearStart);
      momentDate = moment('@ViewBag.FiscalYearEnd', 'DD-MM-YYYY HH:mm:ss');
      var fiscalYearEnd = momentDate.toDate();
      //alert(momentDate);


      $("#LineManager1Id").change(function () {
        $('#LineManager2Id').val($('#LineManager1Id').val());
      });
      //01/07/2021 00:00:00

      //alert(new Date());
      var message = "@ViewBag.PolicyAlert";
      if (message != "") {
         $("#Create :input").prop("disabled", true);
         alert(message);
      }


      $("#ReceivingDate").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        dateFormat: 'DD, MM, d, yy',
        //showButtonPanel: true

        showOn: "both"
        //buttonImage: "images/calendar.gif",
        //buttonImageOnly: true,
        //buttonText: "Select date",

        //minDate: -20,
        //maxDate: "+1M +10D"
      });

      $("#WarrantyExpiryDate").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        dateFormat: 'DD, MM, d, yy',
        showOn: "both",
        onSelect: function () {
          IsDatesCorrect();
          //SubmitButtonStatus();
        }
      });
      //function SubmitButtonStatus() {
      //  $(':input[type="submit"]').prop('disabled', true);
      //}
      //$('#Apply').keydown(function () {
      //  if (IsDatesCorrect() == false) {
      //    return false;
      //  }
      //});
      function IsDatesCorrect() {
        var start = $("#datepickerStart").datepicker("getDate");
        var end = $("#datepickerEnd").datepicker("getDate");
        var diff = new Date(end - start);

        var days = diff / 1000 / 60 / 60 / 24 + 1;
        if (days == 0 || days < 0) {
          alert("End date should be greater than start date");
          $("#datepickerEnd").val("");
          return false;
        }
        if (days > 365) {
          alert("Can not apply leave more than a year");
          $("#datepickerEnd").val("");
          return false;
        }
        if (start < fiscalYearStart || end > fiscalYearEnd || start > fiscalYearEnd || end < fiscalYearStart) {
          alert("You can claim leave of current fiscal year only.");
          $("#datepickerStart").val("");
          $("#datepickerEnd").val("");
          return false;
        }
         //alert(days);
        $('#diff').val(days);
        return true;
      }

      //showButtonPanel: true


      //showOn: "button",
      //buttonImage: "images/calendar.gif",
      //buttonImageOnly: true,
      //buttonText: "Select date",

      //minDate: -20,
      //maxDate: "+1M +10D"
    });

  });
</script>

