@model IEnumerable<InventoryRepo.Models.Driver>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
  .custom-switch {
    display: flex;
    align-items: center;
  }

    .custom-switch .custom-control-input {
      margin-left: 10px; /* Adjust as needed */
    }
</style>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">
            Drivers List
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
              @Html.ActionLink("Add New", "Create", new object { }, new { @class = "btn btn-warning" })
            }

          </h3>
        </div>


        <div class="card-body">

          <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12 col-md-6">
              </div>
              <div class="col-sm-12 col-md-6"></div>
            </div>
            <div class="row">
              <div class="col-sm-12">


                @*<table id="items" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">*@
                <table id="example" class="display" style="width:100%">
                  <thead>
                    <tr>
                      <th>
                        Name
                      </th>
                      <th>
                        Cost/Hr
                      </th>
                      <th>
                        Five Hours ++
                      </th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  @foreach (var item in Model)
                  {
                    <tr>
                      <td>
                        @Html.DisplayFor(modelItem => item.Name)
                      </td>
                      <td>
                        @Html.DisplayFor(modelItem => item.CostPerHour)
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <!-- Checkbox on the right -->
                          <div class="custom-control custom-switch">
                            @*<input type="checkbox" class="custom-control-input" id="isFiveHoursPlusEnabled" name="IsFiveHoursPlusEnabled" @(item.IsFiveHoursPlusEnabled == true ? "checked" : "") />
                              <label class="custom-control-label" for="isFiveHoursPlusEnabled" style="margin-top: -28px; margin-left: 28px;"></label>*@
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="isEnabled_@item.Id"
                                   name="IsEnabled_@item.Id"
                                   @(item.IsFiveHoursPlusEnabled == true ? "checked" : "") />
                            <label class="custom-control-label"
                                   for="isEnabled_@item.Id"
                                   style="margin-top: -28px; margin-left: 28px;">
                            </label>
                          </div>
                        </div>
                      </td>
                      <td>

                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {

                          @Html.ActionLink("Update", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                        }
                        else
                        {
                          @Html.ActionLink("View", "Edit", new { id = item.Id }, new { @class = "btn btn-info" })
                        }


                        @if (User.IsInRole("Admin"))
                        {
                          @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                        }
                      </td>
                    </tr>
                  }

                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<link href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/2.1.0/css/buttons.dataTables.min.css" rel="stylesheet" />

@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>

<script type="text/javascript">

  $(document).ready(function () {

    $('#example').DataTable({
      //  "paging": false,
      //  "lengthChange": false,
      //  "pageLength": 100,
      //  "searching": false,
      //  "ordering": true,
      //  "info": false,
      //  "autoWidth": true,
      //  "responsive": true,
      //  "order": [[0, "asc"]]//,
      //  //dom: 'Bfrtip',
      //  //buttons: [
      //  //  'copy', 'csv', 'excel', 'pdf', 'print'
      //  //]

      //});
      "paging": true,
      "lengthChange": true,
      "pageLength": 100,
      "searching": true,
      "ordering": true,
      "info": true,
      rowReorder: {
        selector: 'td:nth-child(2)'
      },
      "responsive": true,
      "autoWidth": false,
      "order": [[0, "desc"]],
      dom: 'Bfrtip',
      buttons: [
        {
          extend: 'copyHtml5',
          exportOptions: {
            columns: [0, 1]
          }
        },
        {
          extend: 'csvHtml5',
          exportOptions: {
            columns: [0, 1]
          }
        },
        {
          extend: 'excelHtml5',
          exportOptions: {
            columns: [0, 1]
          }
        },
        {
          extend: 'pdfHtml5',
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
            columns: [0, 1]
          }
        },
        {
          extend: 'print',
          exportOptions: {
            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
          }
        },
        'colvis'
      ]

    });
  });
</script>
