@model LeaveON.Dtos.CreateTripDto

@{
  ViewBag.Title = "Edit Trip";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
  ViewBag.StatusList = new SelectList(new[]
  {
        new { Value = "Success", Text = "Success" },
        new { Value = "Success(Not Paid)", Text = "Success(Not Paid)" },
        new { Value = "In Progress", Text = "In Progress" },
        new { Value = "Cancel", Text = "Cancel" }
    }, "Value", "Text");
}
<style>
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 39px !important;
    user-select: none;
    -webkit-user-select: none;
  }
  .badge-custom-danger {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-weight: 500;
  }

  .badge-custom-success {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-weight: 500;
  }

  .badge-custom-warning {
    background-color: #fff3cd; /* Light yellow */
    color: #856404; /* Dark yellow */
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-weight: 500;
  }

  .badge-custom-secondary {
    background-color: #7ba5f7; /* Light gray */
    color: #eaeef5; /* Dark gray */
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-weight: 500;
  }
</style>
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>*@

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<!-- Include jQuery and Select2 JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<script src="~/Irs_Js/Trips.js"></script>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Update Trip</h3>
        </div>

        @using (Html.BeginForm())
        {
          @Html.AntiForgeryToken()

          <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
              <!-- Left column with form controls -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="lblAutocompletePassengerId">Passenger Name</label>
                  <input type="text" name="PassengerName" id="autocompletePassengerId" value="@ViewBag.PassengerName" placeholder="Find Passengers..." class="form-control passenger-autocomplete">
                  <input type="hidden" id="PassengerId" name="PassengerId" value="@ViewBag.PassengersId" />
                </div>
                @*<div class="form-group">
                    <label>Passenger Name</label>
                    @Html.DropDownListFor(model => model.PassengerId, (SelectList)ViewBag.PassengerId, "Select a Passenger", new { @class = "form-control passenger-dropdown" })
                    @Html.ValidationMessageFor(model => model.PassengerId, "", new { @class = "text-danger" })
                  </div>*@

                @*<div class="form-group">
                    <label>Place</label>
                    <input type="text" name="PlaceName" id="autocompletePlaceId" placeholder="Find Places..." class="form-control">
                    <input type="hidden" name="PlaceId" id="hiddenPlaceId">
                    <ul id="placesList"></ul>
                  </div>*@

                @*<div class="form-group">
                    <label>Place</label>
                    @Html.DropDownListFor(model => model.PlaceId, (SelectList)ViewBag.PlaceId, "Select a Place", new { @class = "form-control place-dropdown", onchange = "onPlaceChange(event)" })
                    @Html.ValidationMessageFor(model => model.PlaceId, "", new { @class = "text-danger" })
                  </div>*@

                <div class="form-group">
                  <label for="lblAutocompletePlaceId">Place</label>
                  <input type="text" name="PlaceName" value="@ViewBag.PlaceName" id="autocompletePlaceId" placeholder="Find Places..." class="form-control place-autocomplete">
                  <input type="hidden" id="PlaceId" name="PlaceId" value="@ViewBag.PlacesId" />
                </div>

                <div class="form-group">
                  <label for="StartDateTime">Start Date Time</label>
                  @Html.TextBoxFor(model => model.StartDateTime,
                                                                 "{0:dd-MMM-yyyy hh:mm:ss tt}",
                                                                 new { @class = "form-control from-date-picker", @id = "fromDateTime" })
                  @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label for="EndDateTime">End Date Time</label>
                  @Html.TextBoxFor(model => model.EndDateTime,
                                                                 "{0:dd-MMM-yyyy hh:mm:ss tt}",
                                                                 new { @class = "form-control from-date-picker", @id = "toDateTime", @onchange = "handleDateTimeChange()" })
                  @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                </div>
                @*<div class="form-group">
                  <label for="EndDateTime">End Date Time</label>
                  @Html.TextBoxFor(model => model.EndDateTime,
                                                                 "{0:dd-MMM-yyyy hh:mm:ss tt}",
                                                                 new { @class = "form-control from-date-picker", @id = "toDateTime", @onchange = "handleDateTimeChange(this)" })
                  @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                </div>*@
                @*<div class="form-group">
                    <label>Start Date Time</label>
                    @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control from-date-picker", @id = "fromDateTime", @Value = ViewBag.FromDateTime } })
                    @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                    <label>End Date Time</label>
                    @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control from-date-picker", @id = "toDateTime", @Value = ViewBag.ToDateTime } })
                    @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                  </div>*@

                @*<div class="form-group">
                    <label>Start Date Time</label>
                    <input type="text" autocomplete="off" class="form-control from-date-picker" name="startDateTime" id="startDateTime" placeholder="Start date time">
                    @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                  </div>*@

                @*<div class="form-group">
                    <label>End Date Time</label>
                    <input type="text" autocomplete="off" class="form-control from-date-picker" name="endDateTime" id="endDateTime" placeholder="Start date time">
                    @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                  </div>*@


                @*<div class="form-group">
                    <label>Driver Name</label>
                    @Html.DropDownListFor(model => model.DriverId, (SelectList)ViewBag.DriverId, "Select a Driver", new { @class = "form-control driver-dropdown" })
                    @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                  </div>*@

                @* Working for Driver *@

                <div class="form-group">
                  <label for="lblAutocompleteDriverId">Driver Name</label>
                  <input type="text" name="DriverName" value="@ViewBag.DriverName" id="autocompleteDriverId" placeholder="Find Drivers..." class="form-control driver-autocomplete">
                  <input type="hidden" id="DriverId" name="DriverId" value="@ViewBag.DriversId" />
                </div>


                @*<div class="form-group">
                    <label>Driver Name</label>
                    <input type="text" name="DriverName" id="autocompleteDriverId" placeholder="Find Drivers..." class="form-control">
                  </div>*@

                @*<div class="form-group">
                    <label>Driver Name</label>
                    <input type="text" name="DriverName" id="autocompleteDriverId" placeholder="Find Drivers..." class="form-control">
                    <input type="hidden" name="DriverId" id="hiddenDriverId">
                    <ul id="driversList"></ul>
                  </div>*@

                @*<div class="form-group">
                    <label>Passenger Name</label>
                    <input type="text" name="PassengerName" id="autocompletePassengerId" placeholder="Find Passengers..." class="form-control">
                    <input type="hidden" name="PassengerId" id="hiddenPassengerId">
                    <ul id="passengersList"></ul>
                  </div>*@

                <div class="form-group" id="placeNameContainer" style="display:none;">
                  <label>Place Name</label>
                  <input type="text" name="placeName" id="placeName" class="form-control" />
                </div>

                <div class="form-group">
                  @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "" })
                  @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", @placeholder = "Cost" } })
                  @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label>Status</label>
                  <select class="form-control status-select" name="Status">
                    <option value="Success(Not Paid)" class="badge-custom-danger">Success Not Paid</option>
                    <option value="Success" class="badge-custom-success">Succeeded</option>
                    <option value="In Progress" class="badge-custom-warning" selected>In progress</option>
                    <option value="Cancel" class="badge-custom-secondary">Cancelled</option>
                  </select>
                  @*@Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList, "Select a Status", new { @class = "form-control status-dropdown" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })*@
                </div>
              </div>

              <!-- Right column with Remarks field -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="remarks">Comment</label>
                  @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @name = "Remarks", @id = "remarks", @placeholder = "Enter remarks here", rows = 10 })
                </div>
              </div>
            </div>

            <!-- Form submission footer -->
            <div class="card-footer">
              <input type="submit" value="Add" class="btn btn-warning" style="width: 180px; margin: 0 auto; display: block;" />
            </div>

            <br />
            <div>
              @Html.ActionLink("Back to List", "Index")
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  // Pass ViewBag data to JavaScript
  var availableDrivers = @Html.Raw(Json.Encode(ViewBag.DriverId));
  var availablePlaces = @Html.Raw(Json.Encode(ViewBag.PlaceId));
  var availablePassengers = @Html.Raw(Json.Encode(ViewBag.PassengerId));
  console.log('Available Drivers:', availableDrivers);
</script>
