@model LeaveON.Dtos.CreateTripDto

@{
  ViewBag.Title = "Edit Trip";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
  ViewBag.StatusList = new SelectList(new[]
  {
        new { Value = "Success", Text = "Success" },
        new { Value = "Success(Not Paid)", Text = "Success(Not Paid)" },
        new { Value = "In Progress", Text = "In Progress" },
        new { Value = "Cancel", Text = "Cancel" }
    }, "Value", "Text");
}
<style>
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 39px !important;
    user-select: none;
    -webkit-user-select: none;
  }
</style>
@*<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>*@

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

<!-- Include jQuery and Select2 JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>
<script src="~/Irs_Js/Trips.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Update Trip</h3>
        </div>

        @using (Html.BeginForm())
        {
          @Html.AntiForgeryToken()

          <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
              <!-- Left column with form controls -->
              <div class="col-md-6">
                <div class="form-group">
                  <label>Driver Name</label>
                  @Html.DropDownListFor(model => model.DriverId, null, "Select a Driver", new { @class = "form-control driver-dropdown" })
                  @Html.ValidationMessageFor(model => model.DriverId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label>Passenger Name</label>
                  @Html.DropDownListFor(model => model.PassengerId, null, "Select a Passenger", new { @class = "form-control passenger-dropdown" })
                  @Html.ValidationMessageFor(model => model.PassengerId, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label>Place</label>
                  @Html.DropDownListFor(model => model.PlaceId, null, "Select a Place", new { @class = "form-control place-dropdown" })
                  @Html.ValidationMessageFor(model => model.PlaceId, "", new { @class = "text-danger" })
                  @*@Html.DropDownListFor(model => model.PlaceId, (SelectList)ViewBag.PlaceId, "Select a Place", new { @class = "form-control place-dropdown", onchange = "onPlaceChange(event)" })*@
                </div>

                <div class="form-group" id="placeNameContainer" style="display:none;">
                  <label>Place Name</label>
                  <input type="text" name="placeName" id="placeName" class="form-control" />
                </div>

                <div class="form-group">
                  @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "" })
                  @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label>Start Date Time</label>
                  @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control from-date-picker", @id = "startDateTime" } })
                  @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                  <label>End Date Time</label>
                  @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control from-date-picker", @id = "endDateTime" } })
                  @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                </div>
                @*<div class="form-group">
                    <label>Start Date Time</label>
                    <input type="text" autocomplete="off" class="form-control from-date-picker" name="startDateTime" id="startDateTime">
                    @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
                  </div>

                  <div class="form-group">
                    <label>End Date Time</label>
                    <input type="text" autocomplete="off" class="form-control from-date-picker" name="endDateTime" id="endDateTime">
                    @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
                  </div>*@

                <div class="form-group">
                  <label>Status</label>
                  @Html.DropDownListFor(model => model.Status, (SelectList)ViewBag.StatusList, "Select a Status", new { @class = "form-control status-dropdown" })
                  @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
              </div>

              <!-- Right column with Remarks field -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="remarks">Comment</label>
                  @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", @name = "Remarks", @id = "remarks", @placeholder = "Enter remarks here", rows = 10 })
                </div>
              </div>
            </div>

            <!-- Form submission footer -->
            <div class="card-footer">
              <input type="submit" value="Update" class="btn btn-warning" style="width: 180px; margin: 0 auto; display: block;" />
            </div>

            <br />
            <div>
              @Html.ActionLink("Back to List", "Index")
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
